doctype
html
   head
      title My form return
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
      script(src='./script.js')
   body
      h1 This is my formReturn file

   ul
     li= myData1
      button(class="myDiv" data-id="data1") Delete
     li= myData2
      button(class="myDiv" data-id="data2") Delete
     li= myData3
      button(class="myDiv" data-id="data3") Delete
     li= myData4
      button(class="myDiv" data-id="data4") Delete